HTML CSSResult Skip Results Iframe
/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

/* Pozicionálás */

.karacsonyi-kepeslap {
    width: 480px;
    max-width: calc(100vw - 10px);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}



body {
    height: 100vh;
}


.head {
    text-align: center;
}

.head,
.tartalom,
.job {
    width: 90%;
    margin: 0 auto;


}

img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile-kep {
    margin-top: 4.5%;
}

/* Contact links */


.koszonto {
    font-weight: normal;
    font-size: 18pt;
}

.tartalom {
    padding: 15px;
    text-align: left;
    line-height: 1.38;
    letter-spacing: -.016em;
}

body {
    background: url("https://images.unsplash.com/photo-1608228079862-d21e08031529?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") no-repeat center center fixed;

    background-size: cover;
}

.karacsonyi-kepeslap {
    background-color: rgba(20, 107, 58, 0.81);
    border-radius: 4px;
    box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
    color: snow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    padding: 1px;
    background-color: #666;
    filter: sepia(95%);
    box-shadow: hsla(221, 98%, 18%, 0.7) 8px 8px 8px;
    margin-bottom: 15px;
    
}


img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    filter: none;
    box-shadow: hsla(221, 98%, 18%, 0.7) 3px 3px 3px;
}


h1 {

    font-size: 24pt;
    color: #EA4630;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
}


hr {

    border: 0;
    height: 2px;
    background-image: linear-gradient(to left, rgba(249, 191, 62, 0), rgba(248, 178, 41, 0.75), rgba(249, 191, 62, 0));
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.profile-kep,
.fejlec {
    margin-bottom: 15px;
    margin-top: 35px;

}

#also {
    margin-bottom: 35px;
}

.head {

    margin-top: 15px;
}


em {
    font-family: 'Berkshire Swash', cursive;
}

#alairas {
    text-align: right;
    font-family:  'Mountains of Christmas', cursive;
}



Resources1× 0.5× 0.25×Rerun